/*
--------------------------------------------------------------
Colours and backgrounds for common.css


#151515 main bg
#3B3B3B even
#737373 odd
#CBCBCB text
#ffffff text lighter
#008B00 green highlights color
#DF6500 orange highlights color
#0E3795 blue hightlights color

-------------------------------------------------------------- */


html, body {
	color: #888;
	background-color: #060606;
}

h1 {
	color: #ffffff;
}

h2 {
	color: #ffffff;
}

h3 {
	border-bottom-color: #CCCCCC;
	color: #ffffff;
}

hr {
	border-color: #282828;
	border-top-color: transparent;
}

/* Search box
--------------------------------------------- */

.search-box .inputbox,
.search-box .inputbox:hover,
.search-box .inputbox:focus,
.search-box .button:hover {
	border-color: #282828;
}

.search-header {
	box-shadow: 0 0 10px #0075B0;
}

.resize_btn_icon:before {
	font-weight:bold;
	font-size:19px;
}

/* Round cornered boxes and backgrounds
---------------------------------------- */
#wrap {
	background-color: #151515;
	border-color: transparent;
}

.headerbar {
	background-color: #008B00;
	color: #ffffff;
}

.navbar {
	background-color: #3B3B3B;
}

.forabg {
	background-color: #008B00;
}

.forumbg {
	background-color: #008B00;
}

.panel {
	background-color: #3B3B3B;
}

.post:target .content {
	color: #ffffff;
}

.post:target h3 a {
	color: #ffffff;
}

.bg1 {
	background-color: #3B3B3B;
}

table.zebra-list tr:nth-child(odd) td, ul.zebra-list li:nth-child(odd) {
	background-color: #3B3B3B;
}

.bg2 {
	background-color: #1B1B1B;
}

table.zebra-list tr:nth-child(even) td, ul.zebra-list li:nth-child(even) {
	background-color: #1B1B1B;
}

.bg3	{ background-color: #3B3B3B; }

.ucprowbg {
	background-color: #DCDEE2;
}

.fieldsbg {
	background-color: #E7E8EA;
}

/* navigation links
----------------------------------------*/

ul.navlinks {
	border-top-color: #ffffff;
}

.navbar .icon:before {
	color: #008B00;
}

/* Table styles
----------------------------------------*/
table.table1 thead th {
	color: #ffffff;
}

table.table1 tbody tr {
	border-color: #BFC1CF;
}

table.table1 tbody tr:hover, table.table1 tbody tr.hover {
	background-color: #CFE1F6;
	color: #ffffff;
}

table.table1 td {
	color: #CBCBCB;
}

table.table1 tbody td {
	border-top-color: #FAFAFA;
}

table.table1 tbody th {
	border-bottom-color: #ffffff;
	color: #CBCBCB333;
	background-color: #ffffff;
}

table.info tbody th {
	color: #ffffff;
}

/* Misc layout styles
---------------------------------------- */
dl.details dt {
	color: #ffffff;
}

dl.details dd {
	color: #CBCBCB;
}

.sep {
	color: #1198D9;
}

/* Pagination
---------------------------------------- */

.pagination li a {
	color: #5C758C;
	background-color: #ECEDEE;
	border-color: #B4BAC0;
}

.pagination li.ellipsis span {
	background-color: transparent;
	color:	#ffffff;
}

.pagination li.active span {
	color: #ffffff;
	background-color: #008B00;
	border-color: #558000;
}

.pagination li a:hover, .pagination .dropdown-visible a.dropdown-trigger, .nojs .pagination .dropdown-container:hover a.dropdown-trigger {
	border-color: #558000;
	background-color: #008B00;
	color: #ffffff;
}

.pagination li.next a, .pagination li.previous a, .pagination li.page-jump a {
	background-image: url("./images/icons_pagination.png");
}

/* Pagination in viewforum for multipage topics */
.row .pagination {
	background-image: url("./images/icon_pages.gif");
}

/* Miscellaneous styles
---------------------------------------- */

.copyright {
	color: #555555;
}

.error {
	color: #BC2A4D;
}

.reported {
	background-color: #F7ECEF;
}

li.reported:hover {
	background-color: #ECD5D8 !important;
}
.sticky, .announce {
	/* you can add a background for stickies and announcements*/
}

div.rules {
	background-color: #ECD5D8;
	color: #BC2A4D;
}

p.post-notice {
	background-color: #ECD5D8;
	background-image: none;
}

p.post-notice.deleted:before {
	background-image: url("./images/icon_topic_deleted.png");
}

p.post-notice.unapproved:before {
	background-image: url("./images/icon_topic_unapproved.gif");
}

p.post-notice.reported:before, p.post-notice.error:before {
	background-image: url("./images/icon_topic_reported.gif");
}

/*
--------------------------------------------------------------
Colours and backgrounds for links.css
-------------------------------------------------------------- */

a { color: #008B00; }
a:hover	{ color: #558000; }

/* Links on gradient backgrounds */
.forumbg .header a, .forabg .header a, th a {
	color: #ffffff;
}

.forumbg .header a:hover, .forabg .header a:hover, th a:hover {
	color: #A8D8FF;
}

/* Notification mark read link */
.dropdown-extended a.mark_read {
	background-color: #ffffff;
}

/* Post body links */
.postlink {
	color: #368AD2;
	border-bottom-color: #368AD2;
}

.postlink:visited {
	color: #5D8FBD;
	border-bottom-color: #5D8FBD;
}

.postlink:hover {
	background-color: #D0E4F6;
	color: #0D4473;
}

.signature a, .signature a:hover {
	background-color: transparent;
}

/* Back to top of page */
a.top {
	background-image: url("./images/icon_back_top.gif");
}

a.top2 {
	background-image: url("./images/icon_back_top.gif");
}

/* Arrow links  */

a.arrow-up:hover {
	background-color: transparent;
}


/*
------------------------------------------------------------
colored icons
----------------------------------------------------------- */
.icon.unread:before,
.mine {
	color: #DF6500;
}
.read .mine {
	color:#CBCBCB;
}
/*
--------------------------------------------------------------
Colours and backgrounds for content.css
-------------------------------------------------------------- */

ul.forums {
	background-color: #1B1B1B;
}

ul.topiclist li {
	color: #CBCBCB;
}

ul.topiclist dd {
	border-left-color: #ffffff;
}

.rtl ul.topiclist dd {
	border-right-color: #ffffff;
	border-left-color: transparent;
}

ul.topiclist li.row dt a.subforum.read {
	background-image: url("./images/subforum_read.gif");
}

ul.topiclist li.row dt a.subforum.unread {
}

li.row {
	border-top-color:  #ffffff;
	border-bottom-color: #00608F;
}

li.row strong {
	color: #ffffff;
}

li.row:hover {
	background-color: #3B3B3B;
}

li.row:hover dd {
	border-left-color: #CCCCCC;
}

.rtl li.row:hover dd {
	border-right-color: #CCCCCC;
	border-left-color: transparent;
}

li.header dt, li.header dd {
	color: #ffffff;
}

/* Post body styles
----------------------------------------*/
.postbody {
	color: #CBCBCB;
}

/* Content container styles
----------------------------------------*/
.content {
	color: #CBCBCB;
}

.content h2, .panel h2 {
	color: #CBCBCB;
	border-bottom-color:  #CCCCCC;
}

dl.faq dt {
	color: #CBCBCB333;
}

.posthilit {
	background-color: #F3BFCC;
	color: #BC2A4D;
}

.announce, .unreadpost {
	/* Highlight the announcements & unread posts box */
}

/* Post signature */
.signature {
	border-top-color: #CCCCCC;
}

/* Post noticies */
.notice {
	border-top-color:  #CCCCCC;
}

/* BB Code styles
----------------------------------------*/
/* Quote block */
blockquote {
	background-color: #EBEADD;
	background-image: url("./images/quote.gif");
	border-color:#DBDBCE;
}

.rtl blockquote {
	background-image: url("./images/quote_rtl.gif");
}

blockquote blockquote {
	/* Nested quotes */
	background-color:#EFEED9;
}

blockquote blockquote blockquote {
	/* Nested quotes */
	background-color: #EBEADD;
}

/* Code block */
.codebox {
	background-color: #ffffff;
	border-color: #C9D2D8;
}

.codebox p {
	border-bottom-color:  #CCCCCC;
}

.codebox code {
	color: #2E8B57;
}

.syntaxbg		{ color: #ffffff; }
.syntaxcomment	{ color: #FF8000; }
.syntaxdefault	{ color: #ffffff0BB; }
.syntaxhtml		{ color: #ffffff; }
.syntaxkeyword	{ color: #007700; }
.syntaxstring	{ color: #DD0000; }

/* Attachments
----------------------------------------*/
.attachbox {
	background-color: #ffffff;
	border-color:  #C9D2D8;
}

.pm-message .attachbox {
	background-color: #F2F3F3;
}

.attachbox dd {
	border-top-color: #C9D2D8;
}

.attachbox p {
	color: #666666;
}

.attachbox p.stats {
	color: #666666;
}

.attach-image img {
	border-color: #999999;
}

/* Inline image thumbnails */

dl.file dd {
	color: #666666;
}

dl.thumbnail img {
	border-color: #666666;
	background-color: #ffffff;
}

dl.thumbnail dd {
	color: #666666;
}

dl.thumbnail dt a:hover {
	background-color: #EEEEEE;
}

dl.thumbnail dt a:hover img {
	border-color: #368AD2;
}

/* Post poll styles
----------------------------------------*/

fieldset.polls dl {
	border-top-color: #DCDEE2;
	color: #666666;
}

fieldset.polls dl.voted {
	color: #ffffff;
}

fieldset.polls dd div {
	color: #ffffff;
}

.rtl .pollbar1, .rtl .pollbar2, .rtl .pollbar3, .rtl .pollbar4, .rtl .pollbar5 {
	border-right-color: transparent;
}

.pollbar1 {
	background-color: #AA2346;
	border-bottom-color: #74162C;
	border-right-color: #74162C;
}

.rtl .pollbar1 {
	border-left-color: #74162C;
}

.pollbar2 {
	background-color: #BE1E4A;
	border-bottom-color: #8C1C38;
	border-right-color: #8C1C38;
}

.rtl .pollbar2 {
	border-left-color: #8C1C38;
}

.pollbar3 {
	background-color: #D11A4E;
	border-bottom-color: #AA2346;
	border-right-color: #AA2346;
}

.rtl .pollbar3 {
	border-left-color: #AA2346;
}

.pollbar4 {
	background-color: #E41653;
	border-bottom-color: #BE1E4A;
	border-right-color: #BE1E4A;
}

.rtl .pollbar4 {
	border-left-color: #BE1E4A;
}

.pollbar5 {
	background-color: #F81157;
	border-bottom-color: #D11A4E;
	border-right-color: #D11A4E;
}

.rtl .pollbar5 {
	border-left-color: #D11A4E;
}

/* Poster profile block
----------------------------------------*/
.postprofile {
	color: #666666;
	border-color: #ffffff;
}

.pm .postprofile {
	border-color: #DDDDDD;
}

.postprofile strong {
	color: #ffffff;
}

.online {
	background-image: url("./en/icon_user_online.gif");
}

dd.profile-warnings {
	color: #BC2A4D;
}

/*
--------------------------------------------------------------
Colours and backgrounds for buttons.css
-------------------------------------------------------------- */
.button {
	border-color: rgba(0, 0, 0, 0.6);
	background-color: #020202;
	background-image:linear-gradient(#484E55, #3A3F44 60%, #313539);
	color: #558000;
}


.button:hover, .dropdown-visible .dropdown-select, .nojs .dropdown-container:hover .dropdown-select {
	background-color: #CBCBCB;
	background-image: none;
}

.dropdown-select:after	{ border-color: #DADADA; }
.dropdown-select:hover	{ border-color: #C7C3BF; }

.dropdown-visible .dropdown-select, .dropdown-visible .dropdown-select:hover, .nojs .dropdown-container:hover .dropdown-select {
	border-color: #A6B2BA;
	color: #008B00;
}

.contact-icons a		{ border-color: #DCDCDC; }
.contact-icons a:hover	{ background-color: #F2F6F9; }

/*
--------------------------------------------------------------
Colours and backgrounds for cp.css
-------------------------------------------------------------- */

/* Main CP box
----------------------------------------*/

.panel-container h3, .panel-container hr, #cp-menu hr {
	border-color: #A4B3BF;
}

.panel-container .panel li.row {
	border-bottom-color: #B5C1CB;
	border-top-color: #737373;
}

ul.cplist {
	border-top-color: #B5C1CB;
}

.panel-container .panel li.header dd, .panel-container .panel li.header dt {
	color: #ffffff;
}

.panel-container table.table1 thead th {
	color: #CBCBCB333;
	border-bottom-color: #CBCBCB333;
}

#cp-main .pm-message {
	border-color: #DBDEE2;
	background-color: #ffffff;
}

/* CP tabbed menu
----------------------------------------*/
#tabs .tab > a {
	background: #3B3B3B;
	color: #008B00;
}

#tabs .tab > a:hover {
	background: #3B3B3B;
	color: #558000;
}

#tabs .activetab > a,
#tabs .activetab > a:hover {
	background: #3B3B3B;
	border-color: #3B3B3B;
	color: #8d8d8d;
}

#tabs .activetab > a:hover {
	color: #ffffff;
}

/* Mini tabbed menu used in MCP
----------------------------------------*/
#minitabs .tab > a {
	background-color: #E1EBF2;
}

#minitabs .activetab > a,
#minitabs .activetab > a:hover {
	background-color: #737373;
	color: #ffffff;
}

/* Responsive tabs
----------------------------------------*/
.responsive-tab .responsive-tab-link:before {
	border-color: #CBCBCB;
}

.responsive-tab .responsive-tab-link:hover:before {
	border-color: #558000;
}



/* Preferences pane layout
----------------------------------------*/
.panel-container h2 {
	color: #CBCBCB;
}

.panel-container .panel {
	background-color: #737373;
	color: #ffffff
}

#cp-main .pm {
	background-color: #ffffff;
}

/* Friends list */
.cp-mini {
	background-color: #1B1B1B;
}

dl.mini dt {
	color: #8D8D8D;
}

/* PM Styles
----------------------------------------*/
/* PM Message history */
.current {
	color: #ffffff !important;
}

/* PM marking colours */
.pmlist li.pm_message_reported_colour, .pm_message_reported_colour {
	border-left-color: #BC2A4D;
	border-right-color: #BC2A4D;
}

.pmlist li.pm_marked_colour, .pm_marked_colour {
	border-color: #FF6600;
}

.pmlist li.pm_replied_colour, .pm_replied_colour {
	border-color: #A9B8C2;
}

.pmlist li.pm_friend_colour, .pm_friend_colour {
	border-color: #5D8FBD;
}

.pmlist li.pm_foe_colour, .pm_foe_colour {
	border-color: #ffffff;
}

/* Avatar gallery */
#gallery label {
	background: #ffffff;
	border-color: #CCC;
}

#gallery label:hover {
	background-color: #EEE;
}

/*
--------------------------------------------------------------
Colours and backgrounds for forms.css
-------------------------------------------------------------- */

/* General form styles
----------------------------------------*/
select {
	border-color: #666666;
	background-color: #FAFAFA;
}

label {
	color: #fff;
}

option.disabled-option {
	color: graytext;
}

/* Definition list layout for forms
---------------------------------------- */
dd label {
	color: #CBCBCB;
}

fieldset.fields1 {
	background-color: transparent;
}

/* Hover effects */
fieldset dl:hover dt label {
	color: #CBCBCB;
}

fieldset.fields2 dl:hover dt label {
	color: inherit;
}

/* Quick-login on index page */
fieldset.quick-login input.inputbox {
	background-color: #F2F3F3;
}

/* Posting page styles
----------------------------------------*/

#message-box textarea,
#postform,
#postform label,
#postform a {
	color: #151515;
}
#postform a:hover {
	text-decoration: underline;
}



/* Input field styles
---------------------------------------- */
.inputbox {
	background-color: #ffffff;
	border-color: #B4BAC0;
	color: #151515;
}

.inputbox:-moz-placeholder {
	color: #151515;
}

.inputbox::-webkit-input-placeholder {
	color: #151515;
}

.inputbox:hover {
	border-color: #11A3EA;
}

.inputbox:focus {
	border-color: #11A3EA;
	color: #0F4987;
}

.inputbox:focus:-moz-placeholder {
	color: transparent;
}

.inputbox:focus::-webkit-input-placeholder {
	color: transparent;
}


/* Form button styles
---------------------------------------- */

a.button1, input.button1, input.button3, a.button2, input.button2 {
	color: #ffffff;
	background-color: #3B3B3B;
}

a.button1, input.button1 {
	border-color: #666666;
}

input.button3 {
	background-image: none;
}

/* Alternative button */
a.button2, input.button2, input.button3 {
	border-color: #666666;
}

/* <a> button in the style of the form buttons */
a.button1, a.button2 {
	color: #ffffff;
}

/* Hover states */
a.button1:hover, input.button1:hover, a.button2:hover, input.button2:hover, input.button3:hover {
	border-color: #737373;
	color: #737373;
}

/* Focus states */
input.button1:focus, input.button2:focus, input.button3:focus {
	border-color: #11A3EA;
	color: #0F4987;
}

input.search {
	background-image: url("./images/icon_textbox_search.gif");
}

input.disabled {
	color: #666666;
}

/* jQuery popups
---------------------------------------- */
.phpbb_alert {
	background-color: #ffffff;
	border-color: #999999;
}
.phpbb_alert .alert_close {
	background-image: url("./images/alert_close.png");
}
#darken {
	background-color: #ffffff;
}

#loading_indicator {
	background-color: #ffffff;
	background-image: url("./images/loading.gif");
}

.dropdown-extended ul li {
	border-top-color: #B9B9B9;
}

.dropdown-extended ul li:hover {
	background-color: #CFE1F6;
	color: #ffffff;
}

.dropdown-extended .header, .dropdown-extended .footer {
	border-color: #B9B9B9;
	color: #ffffff;
}

.dropdown-extended .footer {
	border-top-style: solid;
	border-top-width: 1px;
}

.dropdown-extended .header {
	background: #F1F8FF;
	background: -moz-linear-gradient(top, #F1F8FF 0%, #3B3B3B 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #F1F8FF), color-stop(100%, #3B3B3B));
	background: -webkit-linear-gradient(top, #F1F8FF 0%, #3B3B3B 100%);
	background: -o-linear-gradient(top, #F1F8FF 0%, #3B3B3B 100%);
	background: -ms-linear-gradient(top, #F1F8FF 0%, #3B3B3B 100%);
	background: linear-gradient(to bottom, #F1F8FF 0%, #3B3B3B 100%);
}

.dropdown .pointer {
	border-color: #B9B9B9 transparent;
}

.dropdown .pointer-inner {
	border-color: #ffffff transparent;
}

.dropdown-extended .pointer-inner {
	border-color: #F1F8FF transparent;
}

ul.linklist li.responsive-menu a.responsive-menu-link:before {
	border-color: #008B00;
}

ul.linklist li.responsive-menu a.responsive-menu-link:hover:before, ul.linklist li.responsive-menu.visible a.responsive-menu-link:before {
	border-color: #558000;
}

.dropdown .dropdown-contents {
	background: #ffffff;
	border-color: #b9b9b9;
	box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.2);
}

.dropdown-up .dropdown-contents {
	box-shadow: 1px 0 5px rgba(0, 0, 0, 0.2);
}

.dropdown li, .dropdown li li {
	border-color: #DCDCDC;
}

.dropdown li.separator {
	border-color: #DCDCDC;
}

/* Notifications
---------------------------------------- */

.notification_list p.notification-time {
	color: #CBCBCB;
}

li.notification-reported strong, li.notification-disapproved strong {
	color: #558000;
}
