body {
	background-image: url('./images/bg_spitze_weissgruen.svg');
	background-repeat: no-repeat;
	background-position: right top;
}

.site_logo {
	display:inline-block;
	vertical-align: top;
	background-image: url('./images/mini_logo.svg');
	background-repeat: no-repeat;
	width: 61px;
	height: 50px;
	margin-right: 5px;
}

@media all and ( min-width: 550px ) {
	.site_logo {
		background-image: url('./images/header_forum_cut.svg');
		background-size: cover;
		padding-top: 16%;
		width: 45%;
	}
	#site-description h1,
	#site-description p {
		display: none;
	}
}
