body {
	background-image: url('./images/bg_spitze.svg');
	background-repeat: no-repeat;
	background-position: right top;
}

.site_logo {
	display:inline-block;
	vertical-align: top;
	background-image: url('./images/mini_logo.svg');
	background-repeat: no-repeat;
	width: 61px;
	height: 50px;
	margin-right: 5px;
}

.imageset {
	font-size: 0;
	font-family: 'entypo';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.imageset.icon_topic_newest:before {
	content: "\e6ea";
	font-size: 12px;
}
.imageset.icon_topic_latest:before {
	content: "\e61e";
	font-size: 12px;
}

.imageset.icon_post_target:before {
	content: "\e6cc";
}

@media all and ( min-width: 550px ) {
	.site_logo {
		background-image: url('./images/header_forum_cut.svg');
		background-size: cover;
		padding-top: 16%;
		width: 45%;
	}
	#site-description h1,
	#site-description p {
		display: none;
	}
}
